<div class="shop-form container text-center">
<%= simple_form_for @shop do |f| %>
  <%= f.input :host, label: "Shop host" %>
  <%= f.input :name, label: "Shop name" %>
  <%= f.input :token, label: "Shop token" %>
  <%= f.button :submit, "Submit", class: "button-submit"%>
<% end %>
</div>
